# 依賴項目目錄
/node_modules

# 構建輸出目錄
/dist

# 日誌文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 編輯器目錄和文件
.vscode/
.idea/
*.swp
*.swo

# 操作系統生成的文件
.DS_Store
Thumbs.db

# 環境變量文件
.env
.env.local
.env.*.local

# 其他不需要版本控制的文件
*.log
*.tmp
*.temp