/* iPad 專用樣式 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #joystick-move {
        bottom: 20px;
        left: 20px;
    }

    #joystick-view {
        bottom: 20px;
        right: 20px;
    }

    /* 移除射擊按鈕樣式 */
    #shoot-button {
        display: none;
    }

    #joystick {
        width: 80px;
        height: 80px;
    }

    #joystick-knob {
        width: 30px;
        height: 30px;
    }

    #health-bar-container {
        width: 180px;
        height: 18px;
    }

    #crosshair {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        background-color: rgba(255, 255, 255, 0.1); /* 用於調試 */
    }

    #crosshair::before,
    #crosshair::after {
        content: '';
        position: absolute;
        background-color: red;
    }

    #crosshair::before {
        width: 2px;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    #crosshair::after {
        width: 100%;
        height: 2px;
        top: 50%;
        transform: translateY(-50%);
    }

    #crosshair-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        border: 4px solid red;
        border-radius: 50%;
        box-sizing: border-box; /* 確保邊框計算在內 */
    }
}